<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colegio Naciones Unidas - Notas</title>
</head>
<body>
    <header>
        <div class="head">
            <div class="title-logo">
                <img src="../../../assets/img/logonaciones.png" alt="Logo-Empresa">
                <h1 class="title">Colegio Naciones Unidas I.E.D</h1>
            </div>

            <button id="abrir" class="abrirMenu"><i class="fa-solid fa-bars"></i></button>
            <nav id="menu" class="nav-bar">
                <button id="cerrar" class="cerrarMenu"><i class="fa-solid fa-x"></i></button>
                <ul>
                    <li><a href="index.html" class="op">Inicio</a></li>
                    <li><a href="Asistencia.html" class="op1">Asistencia</a></li>
                    <li><a href="Cronograma.html" class="op2">Cronograma</a></li>
                    <li><a href="Notas.html" class="op3">Notas</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>